<div class="main users-edit">
  <div class="container">
    <div class="form users-form">
      <div class="form-heading">Edit your account</div>
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
      
        <%= form_tag("/users/#{@user.id}", {multipart: true, method: :patch}) do %>
          <p>User Name</p>
          <input name="name" value="<%= @user.name %>">
          <p>E-mail</p>
          <input name="email" value="<%= @user.email %>">
          <p>Password</p>
          <input type="password" name="password" value="<%= @user.password %>">
          <input type="submit" value="Edit">
        <% end %>
      </div>
    </div>
  </div>
</div>