<!DOCTYPE html>
<html>
    <head>
        <title>RailsElearningAkira</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header>
            <div class="header-logo">
                    <%= link_to("E-learning", "/") %>
            </div>
            <ul class="header-menus">
                <% if current_user %>
                    <li><%= link_to "All users", users_path %></li>

                    <li>
                        <%= link_to @current_user.name, current_user %>    
                    </li>
                    <li>
                        <%= link_to "Logout", logout_path, method: :delete %>
                    </li>

                <% else %>
                    <li><%= link_to("About This E-learning ", "/about") %></li>
                    <li><%= link_to("Signup", "/signup") %></li>
                    <li><%= link_to "Login", login_path %></li>
                <% end %>

                <% if logged_in? && current_user.admin? %>
                        <li><%= link_to "Create new category", "/admin/categories/new"%></li>
                        <li><%= link_to "Show categories index", "/admin/categories"%></li>
                <% end %>
            </ul>
        </header>

        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <%= yield %>
    </body>
</html>